.container{
    display: flex;
    justify-content: center;
    background: transparent;
    /*align-items: center;*/

}
.headerCol{
    background: transparent;
    display: flex;
    justify-content: center;
    flex-direction:column;


}

.headerParagraph{
    background: transparent;
    position: relative;
    margin-top: 30px;
    font-size: 5em;
    letter-spacing: 2px;
    color: #0e3742;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect:below 4px linear-gradient(transparent,rgba(255, 196, 196, 0.2));
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%{
        color: #FFC4C4;
        text-shadow: none;
    }
    100%{
        color: #fff;
        text-shadow: 0 0 10px #FFC4C4,
        0 0 20px #FFC4C4,
        0 0 40px #FFC4C4,
        0 0 80px #FFC4C4,
        0 0 160px #FFC4C4;
    }

}

.search{
    display: flex;
    flex-direction:row;
    justify-content:center;
    padding: 10px;
    /*border:1px solid rgba(255, 255, 255, 0.18);*/
    /*backdrop-filter: blur(1px);*/
    /*-webkit-backdrop-filter: blur(10px);*/
    /*border-radius: 20px;*/
    /*box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);*/
}


.searchInput{
    color: white;
    background: rgba(255,255,255,0.2);
    outline: none;
    padding: 13px 80px;
    padding-top: 13px;
    border-radius: 35px;
    border: none;


}
.addButton{
    margin-left: 5px;
    position: relative;
    width: 100px;
    height: 50px;
    background: transparent;
    border-style: none;

}
.addButtonParagraph{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(139, 79, 118, 1);
    box-shadow: 0 15px 35px rgba(0,0,0,0.2) ;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 30px;
    color: #fff;
    z-index: 1;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(15px);

}
.addButtonParagraph:hover{
    letter-spacing: 2px;
}
.addButtonParagraph::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0.15),
    transparent);
    transform: skewX(45deg) translateX(10%);
}
.addButtonParagraph:hover::before{
    transform: skewX(45deg) translateX(100%);

}
.addButton::before{
    /*content: "";*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*transform: translateY(-50%);*/
    /*bottom: -5px;*/
    /*width: 50px;*/
    /*height: 40px;*/
    /*background: #f00;*/
    /*border-radius: 10px;*/
    /*transition: 0.5s;*/
    /*transition-delay: 0s*/


}
.addButton:hover::before{
    /*bottom: -0;*/
    /*width: 50%;*/
    /*height: 80%;*/
    /*border-radius: 30px;*/
    /*transition-delay: 0.5s;*/
    /*box-shadow: 0 0 5px #E9DAC1,*/
    /*0 0 15px #E9DAC1,*/
    /*0 0 30px #E9DAC1,*/
    /*0 0 60px #E9DAC1 ;*/

}
.addButton::after{
    content: "";
    position: absolute;
    left: 30%;
    transform: translateY(10%);
    top: 0px;
    width: 20px;
    height: 40px;
    /*background: #f00;*/
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0s;
    box-shadow: 0 0 5px #E9DAC1,
    0 0 15px #E9DAC1,
    0 0 30px #E9DAC1,
    0 0 60px #E9DAC1 ;


}
.addButton:hover::after{
    transform: translateX(-30%);
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    transition-delay: 0.5s

}

.list{
    display: flex;
    flex-direction:column;


}

.listContentList{
    margin-top: 20px;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    width: 500px;
    padding: 20px;
    /*background: transparent;*/

}

.listContentListElementli{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    height: 50px;

}

.listContentListElement{
    /*display: flex;*/
    margin: 10px;
    position: relative;
    justify-content: space-between;
    color: #fff;
    border-radius: 10px;
    border:3px solid rgba(255, 255, 255, 0.18);


}

.listContentListElement:hover{
    transform: translatex(-10px);
}
.listContentListElement:before{
    width: 100%;
    height: 100%;
    background:linear-gradient(45deg,#D7C0AE,#B7C4CF);
}
.listContentListElement:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background:linear-gradient(45deg,#EEF3D2,#7D1E6A);
    filter: blur(40px);
}

.checkbox{
    margin-left: 20px;
    margin-bottom:6px;
    background:transparent;
    display: flex;
    align-items: center;
    /*display: none;*/
}
.checkbox:checked {
    background: #FFD6EC;
    color: #fff;
    box-shadow: 0 2px 20px #0f0;

}
.listText{
    display: flex;
    flex-direction:column;
    /*justify-content: center;*/
    margin-top: 10px;
    align-items: start;
    width: 150px;
    overflow: hidden;
    background:transparent;

}
.listTitleText{
    color: #FFD6EC;


}
.listContentText{
    color: #EEEEEE;

}

.Icons{
    display: flex;
    margin-top:5px ;
    background:transparent;
}
.deleteIcon{
    margin-right: 40px;
    background:transparent;
}
.updateIcon{
    margin-right: 30px;
    background:transparent;
}
.formContainer{
    margin-top: 10px;

}

.form{
    border:1px solid rgba(255, 255, 255, 0.18);
    border-radius: 30px;
    padding: 10px;
    padding-bottom: 20px;
    background: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(255,255,255,0.05);

}
.formItem{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: transparent;
    border-radius: 50px;
}
.formColInput{
    display: flex;
    background: transparent;
    flex-direction:row;
    margin-top: 35px;
    align-items:center;
    color: white;
    margin-right: 50px;
}
.formItemTitle{
    color: white;

}
.formInputTitle{
    color: white;
    background: rgba(255,255,255,0.2);
    border: none;
    outline: none;
    margin-left: 20px;
    padding: 10px 60px;
    border-radius: 35px;
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2) ;
    border-left:  1px solid rgba(255,255,255,0.2);
}
.formItemContent{
    margin-bottom: 15px;
    color: white;

}
.formInputContent{
    color: white;
    background: rgba(255,255,255,0.2);
    border: none;
    outline: none;
    margin-left: 10px;
    padding: 10px 60px;
    border-radius: 35px;
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2) ;
    border-left:  1px solid rgba(255,255,255,0.2);
}

.formCol{
    background: transparent;

}
.formRadio{
    margin-top: 15px;
    margin-bottom: 15px;
    background: transparent;
    display: flex;
    justify-content: center;
    color: white;
    text-emphasis-color: red;
    border-style: none;
}
.formRadio1{
    background: transparent;
    color:white;
}


.formRadioParagraph{
    background: transparent;
    color: white;
}
.formItemButton{
    /*position: absolute;*/
    /*margin-left:80px ;*/
    /*margin-bottom: 20%;*/
    border-radius: 30px;
}
.formButton{
    position: relative;
    /*overflow: hidden;*/
    /*margin-left: 350px;*/
    width: 110px;
    height: 50px;
    border-width: 0;
    border-radius: 30px;
}

.formButtonParagraph{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(139, 79, 118, 1);
    box-shadow: 0 15px 35px rgba(0,0,0,0.2) ;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 30px;
    color: #fff;
    z-index: 1;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(15px);
}
.formButtonParagraph:hover{
    letter-spacing: 2px;
}
.formButtonParagraph::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0.15),
    transparent);
    transform: skewX(45deg) translateX(10%);
}
.formButtonParagraph:hover::before{
    transform: skewX(45deg) translateX(100%);

}

/*.formButton::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    left: 50%;*/
/*    transform: translateY(-50%);*/
/*    bottom: -5px;*/
/*    width: 50px;*/
/*    height: 40px;*/
/*    background: #f00;*/
/*    border-radius: 10px;*/
/*    transition: 0.5s;*/
/*    transition-delay: 0s*/

/*}*/
/*.formButton:hover::before{*/
/*    bottom: -0;*/
/*    width: 50%;*/
/*    height: 80%;*/
/*    border-radius: 30px;*/
/*    transition-delay: 0.5s;*/
/*    box-shadow: 0 0 5px #E9DAC1,*/
/*    0 0 15px #E9DAC1,*/
/*    0 0 30px #E9DAC1,*/
/*    0 0 60px #E9DAC1 ;*/

/*}*/
.formButton::after {
    content: "";
    position: absolute;
    left: 30%;
    transform: translateY(10%);
    top: 0px;
    width: 20px;
    height: 40px;
    background: #f00;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0s;
    box-shadow: 0 0 5px #E9DAC1,
    0 0 15px #E9DAC1,
    0 0 30px #E9DAC1,
    0 0 60px #E9DAC1 ;



}
.formButton:hover::after{
    transform: translateX(-30%);
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    transition-delay: 0.5s

}